div.mhwLoadoutRow
{
  div.loadoutTitle
  {
    padding-left  : 4px;
  }

  table
  {
    border-collapse : collapse;
    width           : 100%;

    td
    {
      border  : 1px solid #333;
      padding : 4px;
      width   : 16.7%;

      &:first-child
      {
        border-left : none;
      }

      &:last-child
      {
        border-right  : none;
      }

      span.loadoutStatValue
      {
        float : right;
      }
    }
  }
}